table {
    display: table;
    width: 100%;
    border-spacing: 2px;
    border-color: grey;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #323534;
    color: white;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}